.header{
    color: blue;
}

.google_button{
    background-color: crimson;
    color: aquamarine;
}

.yellow_highlight_border_p{
    background-color: yellow;
    color: red;
    border: 10px solid black
}

h1{
    color: orange
}

.myButton {
    color: white; font-size: 24px; line-height: 24px; padding: 18px; border-radius: 50px; font-family: Georgia, serif; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none; background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; border: 2px solid rgb(28, 110, 164); display: inline-block;}


.myButton:active {
    background: yellow;
}

.myButton:hover {
    background: red;
}